<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <style >
        .tabs {
            text-align: left;
        }

        h2 {
            margin-top: 6px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="top_container">
        <div><a class="s1" th:href="@{/}">Главная страница</a></div>
        <div><h2>Кабинет администратора</h2></div>
    </div>

    <div class="tabs">
        <input type="radio" name="inset" value="" id="tab_1" checked>
        <label for="tab_1">Пользователи</label>

        <div id="txt_1">
            <p>Первая вкладка</p>
            <table>
                <tr>
                    <th>Логин</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Телефонный номер</th>
                    <th>Email</th>
                    <th>Примечание</th>
                </tr>
                <tr th:each="user:${userList}">
                    <td th:text="${user.username}"/>
                    <td th:text="${user.firstName}"/>
                    <td th:text="${user.secondName}"/>
                    <td th:text="${user.phoneNumber}"/>
                    <td th:text="${user.email}"/>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/admin.html/removeUser/' + ${user.id}}"
                           role="button">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>