<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Аналитика</title>
    <style>
        .analytics {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="top_container">
        <div><a class="s1" th:href="@{/personalArea.html}">Личный кабинет</a></div>
        <div><a class="s1" th:href="@{/}">Главная страница</a></div>
    </div>
    <div class="analytics">
        <h2>Аналитика</h2>
        <h4>Совокупный доход за весь период составил: <span
                th:text="${valueSalaryAttr + valueInvIncAttr + valueAnIncAttr}"></span></h4>
        <h4>Совокупные накопления за весь период составили: <span
                th:text="${valueInvSavAttr+valuePropSavAttr+valueLiqSavAttr}"></span></h4>
        <h4>Совокупные расходы за весь период составили: <span
                th:text="${costCafeAttr+costHealthAttr+costLeisureAttr+costProductAttr+costTransportAttr+costOthersAttr}"></span>
        </h4>
        <h4><a class="s1" th:href="@{/analytics/currentMonth}">Баланс доходов/расходов за текущий месяц</a></h4>
    </div>
</div>
</body>
</html>