<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <style >
        .tabs {
            text-align: left;
        }
    </style>

    <title>Income</title>
</head>
<body>
<div class="container">
    <div class="top_container">
        <div><a class="s1" th:href="@{/personalArea.html}">Личный кабинет</a></div>
        <div><h2 class="category">Категории доходов</h2></div>
    </div>

    <div class="tabs">
        <input type="radio" name="inset" value="" id="tabInc_1" checked>
        <label for="tabInc_1">Заработная плата</label>

        <input type="radio" name="inset" value="" id="tabInc_2">
        <label for="tabInc_2">Доход от инвестиций</label>

        <input type="radio" name="inset" value="" id="tabInc_3">
        <label for="tabInc_3">Другие доходы</label>

        <div id="txtInc_1">
            <table class="table_blur">
                <tr>
                    <th>Величина</th><th>Дата</th><th>Примечание</th>
                </tr>
                <tr th:each="salaryIncome:${salaryIncomeList}">
                    <td th:text="${salaryIncome.valueSalary}"/>
                    <td th:text="${salaryIncome.dateSalary}"/>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/income/removeSalary/' + ${salaryIncome.idSalary}}"
                           role="button">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="txtInc_2">
            <table class="table_blur">
                <tr>
                    <th>Название</th><th>Величина</th><th>Дата</th><th>Примечание</th>
                </tr>
                <tr th:each="investmentIncome:${investmentIncomeList}">
                    <td th:text="${investmentIncome.titleInvInc}"/>
                    <td th:text="${investmentIncome.valueInvInc}"/>
                    <td th:text="${investmentIncome.dateInvInc}"/>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/income/removeInvInc/' + ${investmentIncome.idInvInc}}"
                           role="button">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="txtInc_3">
            <table class="table_blur">
                <tr>
                    <th>Название</th><th>Величина</th><th>Дата</th><th>Примечание</th>
                </tr>
                <tr th:each="anotherIncome:${anotherIncomeList}">
                    <td th:text="${anotherIncome.titleAnInc}"/>
                    <td th:text="${anotherIncome.valueAnInc}"/>
                    <td th:text="${anotherIncome.dateAnInc}"/>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/income/removeAnInc/' + ${anotherIncome.idAnInc}}"
                           role="button">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>