<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div sec:authorize="isAnonymous()">
    <div>
        <p class="headTitle">Финансовый ассистент</p>
    </div>
    <div class="enter_container">
        <form th:action="@{login.html}">
            <button class="shadow-btn">
                <span class="btn-inner">
                    <span class="text">Войти</span>
                    <i class="fa fa-long-arrow-right"></i>
                </span>
                <span class="shadow"></span>
            </button>
        </form>
        <form th:action="@{/registration}">
            <button class="shadow-btn">
                <span class="btn-inner">
                    <span class="text">Зарегистрироваться</span>
                    <i class="fa fa-long-arrow-right"></i>
                </span>
                <span class="shadow"></span>
            </button>
        </form>
    </div>
</div>
<div sec:authorize="isAuthenticated()">
    <h3>Пользователь: <span sec:authentication="name"></span></h3>
    <a class="transform-button" th:href="@{logout}"><span>Выйти</span></a>
    <div>
        <p class="headTitle">Финансовый ассистент</p>
    </div>
    <div class="enter_container">
        <div>
            <form th:action="@{/personalArea.html}">
                <button class="shadow-btn">
                <span class="btn-inner">
                    <span class="text">Личный кабинет</span>
                    <i class="fa fa-long-arrow-right"></i>
                </span>
                    <span class="shadow"></span>
                </button>
            </form>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:action="@{/admin.html}">
                <button class="shadow-btn">
                    <span class="btn-inner">
                        <span class="text">Кабинет администратора</span>
                        <i class="fa fa-long-arrow-right"></i>
                    </span>
                    <span class="shadow"></span>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>