<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div>
    <a class="s1" th:href="@{/}">Главная страница</a>
</div>
<div>
    <form th:action="@{/login}"  th:method="POST" class="ui-form">
        <h3>Войти в систему</h3>
        <div class="form-row">
            <input name="username" type="text" id="username" required autocomplete="off" autofocus="autofocus"><label
                for="username">Логин</label>
        </div>
        <div class="form-row">
            <input name="password" type="password" id="password" required autocomplete="off"><label
                for="password">Пароль</label>
        </div>
        <p>
            <input type="submit" value="Войти">
        </p>
    </form>
</div>
</body>
</html>