<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>

    <style>
        body {
            font: 18px/1.5 sans-serif;
            font-family: 'Fredoka One', cursive;
        }

        h2, h3 {
            text-align: center;
            color: brown;
        }

        div .totalData {
            text-align: center;
            color: blue;
        }

        form {
            width: 350px;
        }
    </style>

    <title>Личный кабинет</title>
</head>

<body>
<div>
    <a class="s1" th:href="@{/}">Главная страница</a>
    <h2>Личный кабинет</h2>
    <h3>Категории доходов</h3>
    <div class="tabs">
        <input type="radio" name="inset" value="" id="tabInc_1">
        <label for="tabInc_1">Заработная плата</label>

        <input type="radio" name="inset" value="" id="tabInc_2">
        <label for="tabInc_2">Доход от инвестиций</label>

        <input type="radio" name="inset" value="" id="tabInc_3">
        <label for="tabInc_3">Другое</label>

        <div id="txtInc_1">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${salaryIncome}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>
                        Величина:
                        <input type="text" name="value" th:field="*{valueSalary}" required
                               placeholder="Введите значение...">
                    </label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        <div id="txtInc_2">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${investmentIncome}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleInvInc}"
                                            placeholder="Введите название..."/></label>
                    <label>Величина: <input type="text" th:field="*{valueInvInc}"
                                            placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        <div id="txtInc_3">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${anotherIncome}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleAnInc}"
                                            placeholder="Введите название..."/></label>
                    <label>Величина: <input type="text" th:field="*{valueAnInc}"
                                            placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>
    <div class="totalData">
        <h4><a class="sq-btn" th:href="@{/income/currentMonth}">Сводные данные по доходам</a></h4>
    </div>


    <h3>Категории накоплений</h3>
    <div class="tabs">
        <input type="radio" name="inset" value="" id="tabSav_1">
        <label for="tabSav_1">Инвестиции</label>

        <input type="radio" name="inset" value="" id="tabSav_2">
        <label for="tabSav_2">Имущественный капитал</label>

        <input type="radio" name="inset" value="" id="tabSav_3">
        <label for="tabSav_3">Ликвидный капитал</label>

        <div id="txtSav_1">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${investmentsSaving}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleInvSav}"
                                            placeholder="Введите название..."/></label>
                    <label>Величина: <input type="text" th:field="*{valueInvSav}"
                                            placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        <div id="txtSav_2">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${propertyCapitalSaving}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titlePropSav}"
                                            placeholder="Введите название..."/></label>
                    <label>Величина: <input type="text" th:field="*{valuePropSav}"
                                            placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        <div id="txtSav_3">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${liquidCapitalSaving}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Величина: <input type="text" th:field="*{valueLiqSav}"
                                            placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>
    <div class="totalData">
        <h4><a class="sq-btn" th:href="@{/saving/currentMonth}"> Сводные данные по сбережениям</a></h4>
    </div>


    <h3>Категории расходов</h3>

    <div class="tabs">
        <input type="radio" name="inset" value="" id="tab_1">
        <label for="tab_1">Кафе</label>

        <input type="radio" name="inset" value="" id="tab_2">
        <label for="tab_2">Здоровье</label>

        <input type="radio" name="inset" value="" id="tab_3">
        <label for="tab_3">Досуг</label>

        <input type="radio" name="inset" value="" id="tab_4">
        <label for="tab_4">Продукты</label>

        <input type="radio" name="inset" value="" id="tab_5">
        <label for="tab_5">Транспорт</label>

        <input type="radio" name="inset" value="" id="tab_6">
        <label for="tab_6">Другое</label>

        <div id="txt_1">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${cafe}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleCafe}"
                                            placeholder="Введите название..."/></label>
                    <label>Стоимость: <input type="text" th:field="*{costCafe}"
                                             placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        <div id="txt_2">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${health}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleHealth}"
                                            placeholder="Введите название..."/></label>
                    <label>Стоимость: <input type="text" th:field="*{costHealth}"
                                             placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        <div id="txt_3">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${leisure}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleLeisure}"
                                            placeholder="Введите название..."/></label>
                    <label>Стоимость: <input type="text" th:field="*{costLeisure}"
                                             placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        <div id="txt_4">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${product}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleProduct}"
                                            placeholder="Введите название..."/></label>
                    <label>Стоимость: <input type="text" th:field="*{costProduct}"
                                             placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>

        <div id="txt_5">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${transport}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleTransport}"
                                            placeholder="Введите название..."/></label>
                    <label>Стоимость: <input type="text" th:field="*{costTransport}"
                                             placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
        <div id="txt_6">
            <form th:method="POST" th:action="@{personalArea.html}" th:object="${others}">
                <fieldset>
                    <legend>Введите данные</legend>
                    <label>Название: <input type="text" th:field="*{titleOthers}"
                                            placeholder="Введите название..."/></label>
                    <label>Стоимость: <input type="text" th:field="*{costOthers}"
                                             placeholder="Введите значение..."/></label>
                </fieldset>
                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>
    <div class="totalData">
        <h4><a class="sq-btn" th:href="@{/expenses/currentMonth}">Сводные данные по расходам</a></h4>
    </div>
    <div class="totalData">
        <h4><a class="eleven" th:href="@{/analytics/currentMonth}">Баланс доходов/расходов за текущий месяц</a></h4>
    </div>
</div>

</body>
</html>