<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font: 18px/1.5 sans-serif;
            font-family: 'Fredoka One', cursive;
        }
    </style>
</head>
<body>
<div>
    <a class="s1" th:href="@{/}">Главная страница</a>
</div>
<div>
    <form class="ui-form" th:method="POST" th:action="@{/registration}" th:object="${userForm}">
        <h3>Регистрация</h3>
        <div class="form-row-with-err">
            <input name="username" type="text" th:field="*{username}" id="login" required autocomplete="off"><label
                for="login">Ваш логин</label>
            <div class="errForm">
<!--                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Поле не должно быть пустым</p>-->
                <span th:text="${usernameError}"></span>
            </div>
        </div>
        <div class="form-row">
            <input name="password" type="password" th:field="*{password}" id="password" required autocomplete="off"><label
                for="password">Пароль</label>
        </div>

        <div class="form-row-with-err">
            <input name="confirmPassword" type="password" th:field="*{passwordConfirm}" id="confirmPassword" required autocomplete="off"><label for="confirmPassword">Подтверждение пароля</label>
            <div class="errForm">
<!--                <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Пароль должен быть длиной мин 3 символа</p>-->
                <span th:text="${passwordError}"></span>
            </div>
        </div>
        <div class="form-row">
            <input name="firstname" type="text" th:field="*{firstName}" id="firstname" required
                   autocomplete="off"><label for="firstname">Ваше имя</label>
        </div>
        <div class="form-row">
            <input name="surname" type="text" th:field="*{secondName}" id="surname" required
                   autocomplete="off"><label for="surname">Ваша фамилия</label>
        </div>
        <div class="form-row">
            <input name="phoneNumber" type="tel" th:field="*{phoneNumber}" id="phoneNumber" required
                   autocomplete="off"><label for="phoneNumber">Ваш номер телефона</label>
        </div>
        <div class="form-row">
            <input name="email" type="email" th:field="*{email}" id="email" required autocomplete="off"><label
                for="email">Email</label>
        </div>
        <p>
            <input type="submit" value="Зарегистрироваться">
        </p>
    </form>
</div>
</body>
</html>
