<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <style >
        .tabs {
            text-align: left;
        }
    </style>

    <title>Инвестиции</title>

</head>
<body>
<div class="container">
    <div class="top_container">
        <div><a class="s1" th:href="@{/personalArea.html}">Личный кабинет</a></div>
        <div><h2 class="category">Категории накоплений</h2></div>
    </div>

    <div class="tabs">
        <input type="radio" name="inset" value="" id="tabSav_1" checked>
        <label for="tabSav_1">Инвестиции</label>

        <input type="radio" name="inset" value="" id="tabSav_2">
        <label for="tabSav_2">Имущественный капитал</label>

        <input type="radio" name="inset" value="" id="tabSav_3">
        <label for="tabSav_3">Ликвидный капитал</label>

        <div id="txtSav_1">
            <table class="table_blur">
                <tr>
                    <th>Название</th>
                    <th>Величина</th>
                    <th>Дата</th>
                    <th>Примечание</th>
                </tr>
                <tr th:each="investmentsSaving:${investmentsSavingList}">
                    <td th:text="${investmentsSaving.titleInvSav}"/>
                    <td th:text="${investmentsSaving.valueInvSav}"/>
                    <td th:text="${investmentsSaving.dateInvSav}"/>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/saving/removeInvSav/' + ${investmentsSaving.idInvSav}}"
                           role="button">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="txtSav_2">
            <table class="table_blur">
                <tr>
                    <th>Название</th>
                    <th>Величина</th>
                    <th>Дата</th>
                    <th>Примечание</th>
                </tr>
                <tr th:each="propertyCapitalSaving:${propertyCapitalSavingList}">
                    <td th:text="${propertyCapitalSaving.titlePropSav}"/>
                    <td th:text="${propertyCapitalSaving.valuePropSav}"/>
                    <td th:text="${propertyCapitalSaving.datePropSav}"/>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/saving/removePropSav/' + ${propertyCapitalSaving.idPropSav}}"
                           role="button">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="txtSav_3">
            <table class="table_blur">
                <tr>
                    <th>Величина</th>
                    <th>Дата</th>
                    <th>Примечание</th>
                </tr>
                <tr th:each="liquidCapitalSaving:${liquidCapitalSavingList}">
                    <td th:text="${liquidCapitalSaving.valueLiqSav}"/>
                    <td th:text="${liquidCapitalSaving.dateLiqSav}"/>
                    <td>
                        <a class="btn btn-danger" th:href="@{'/saving/removeLiqSav/' + ${liquidCapitalSaving.idLiqSav}}"
                           role="button">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>